In [1]:
!java -version

openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.20.04)
OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.20.04, mixed mode, sharing)

# 0.0. Imports

In [2]:
import pandas as pd
import tabula

## 0.1. loading data

In [3]:
file = 'https://smastr16.blob.core.windows.net/legislacao/2016/12/Resolu%C3%A7%C3%A3o-SMA-057-2016-subst-300616.pdf'

In [4]:
pages = list(range(3,32))

In [5]:
table = tabula.read_pdf(file, pages=pages, output_format='dataframe', stream=True, silent=True)

## 0.2. data information

In [6]:
print(type(table))
print(len(table))

<class 'list'>
1

In [7]:
print(table)

[                Família                                        Espécie  \
0       AMBLYSTEGIACEAE            Anacamptodon cubensis (Sull.) Mitt.
1            ANEURACEAE           Riccardia schwaneckei (Steph.) Pagán
2        ANOMODONTACEAE  Herpertineuron toccoae (Sull. & Lesq.) Cardot
3       ANTHOCEROTACEAE           Folioceros apiahynus (Steph.) Hässel
4     BALANTIOPSIDACEAE            Neesioscyphus carneus (Nees) Grolle
...                 ...                                            ...
1086         XYRIDACEAE                  Xyris stenophylla L.A.Nilsson
1087         XYRIDACEAE                       Xyris trachyphylla Mart.
1088         XYRIDACEAE                          Xyris uninervis Malme
1089         XYRIDACEAE                          Xyris vacillans Malme
1090         XYRIDACEAE                          Xyris wawrae Heimerl.

     Status de conservação
0                       EX
1                       EX
2                       VU
3                       EX
4                       EX
...                    ...
1086                    EX
1087                    EN
1088                    VU
1089                    EN
1090                    EN

[1091 rows x 3 columns]]

# 1.0. Data transformation

In [8]:
data = table[0]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1091 entries, 0 to 1090
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Família                1091 non-null   object
 1   Espécie                1091 non-null   object
 2   Status de conservação  1091 non-null   object
dtypes: object(3)
memory usage: 25.7+ KB

In [10]:
data[data.duplicated() == True]

     Família  Espécie  Status de conservação
104  Família  Espécie  Status de conservação
106  Família  Espécie  Status de conservação

In [11]:
index = data[data['Família'] == 'Família'].index
data = data.drop(index)

In [11]:
len(data)

1088

In [12]:
data.sample(10)

,Família,Espécie,Status de conservação
270,BROMELIACEAE,Billbergia meyeri Mez,EX
39,LEJEUNEACEAE,Myriocoleopsis fluviatilis (Steph.) E.Reiner &...,VU
1032,RUBIACEAE,Rudgea corymbulosa Benth.,EN
980,PROTEACEAE,Euplassa cantareirae Sleumer,EX
75,TRICHOCOLEACEAE,Trichocolea argentea Herzog,EX
679,MYRTACEAE,Neomitranthes capivariensis (Mattos) Mattos,EN
900,POACEAE,Eriochloa distachya Kunth,EN
297,BROMELIACEAE,Vriesea lubbersii (Baker) E.Morren ex Mez,EX
669,MYRTACEAE,Myrcia hexasticha Kiaersk.,EN
414,FABACEAE,Peltogyne confertiflora (Hayne) Benth.,EN

In [13]:
data.to_excel('especies_sma_57_16.xlsx', sheet_name='especies', index=False)